{% if atom.doc.features.cli.enabled===true %}
import argv from '../default/to.args.js';
import { default as Engine } from '../default/{{atom.doc.features.cli_default_entry_file or atom.doc.features.main_default_entry_file}}';

  {% if atom.doc.features.cli.extend===true %}
    {# TYPE 1 #}
    import { default as runExtended } from '../../../cli';

    const run = async () => {
      return await runExtended(await argv(),{ Engine });
    };

    run()
      .then(() => {    
        {# process.exit(0);  #}
      })
      .catch((error) => {    
        console.error(error.message);
        process.exit(1);
      });
  {% else %}
    {# TYPE 2 #}
    const run = async () => {
      const engine = new Engine();
      return await engine.run(await argv());
    };

    run()
      .then((result) => {    
        if (typeof result !== 'undefined')
        {
          // TODO: REMOVE THIS LINE
          const stdout_format=process.argv.slice(2).indexOf()!==-1? process.argv.slice(2)[process.argv.slice(2).indexOf('--stdout_format')+1]:null;
          if(stdout_format==='json') console.log(JSON.stringify(result,null,2));
          else console.log(result);
        }
        {# process.exit(0); #}    
      })
      .catch((error) => {    
        console.error(error.message);
        process.exit(1);
      });
  {% endif %}
{% endif %}