{
  "id": "{{params.id}}",
  "version": "{{params.version}}",
  "vendor": "{{params.vendor}}",
  "type": "web",
  "main": "index.html",
  "title": "{{params.title}}",
  "icon": "icon_80x80.png",
  "largeIcon": "icon_130x130.png",
  "screenSaverProperties": {
    "preferredType": 3
  },
  "useGalleryMode": true
}