node_modules
.env
.env.local
secrets
.DS_Store
keycloak.json
dist
.output
.temp
.fnet
.npmrc
.package-lock.json
.bin
.workspace
.tests
.archive
# Exclude .vscode directories in general
.vscode

# But include .vscode directories in template folders
!template/**/.vscode
!template/**/project/.vscode

knowledge