# Basic configuration file that defines the GitLab CI/CD pipeline
stages:
  - setup
  - build

# Configuration for Linux platform
build_linux:
  stage: build
  image: node:latest  # Using the official Docker image that includes Node.js
  script:
    - echo "Building project on Linux..."
    - node -v  # Verifying that Node.js is installed
    - npm install  # Installing Node.js dependencies
    - npm run build  # Running the build command for the project
  tags:
    - shared  # Using GitLab's shared runner
  only:
    - main  # This job runs only when committing to the main branch

# Configuration for Windows platform
build_windows:
  stage: build
  tags:
    - windows  # Using a Windows runner
  script:
    - echo "Building project on Windows..."
    - powershell "curl -sL https://deb.nodesource.com/setup_16.x | bash -"  # Node.js installation
    - powershell "Install-Module -Name NPM -Force"  # npm installation
    - node -v  # Verifying that Node.js is installed
    - npm install  # Installing Node.js dependencies
    - npm run build  # Running the build command for the project
  only:
    - main  # This job runs only when committing to the main branch

# Configuration for macOS platform
build_macos:
  stage: build
  tags:
    - macos  # Using a macOS runner
  # before_script:
  #   - echo "Installing Node.js on macOS..."
  #   - brew install node  # Installing Node.js using Homebrew
  script:
    - echo "Building project on macOS..."
    - node -v  # Verifying that Node.js is installed
    - npm install  # Installing Node.js dependencies
    - npm run build  # Running the build command for the project
  only:
    - main  # This job runs only when committing to the main branch