plugins: await initPlugins({
    delete:{ targets: [path.normalize(groupDir + '{{key}}')], runOnce: DEVELOPMENT },

    format:"{{ value.format }}",

    {% if value.babel===true %}
    babel:{{value.babel_options | dump | safe}},
    {% endif %}

    {% if value.replace ===true %}
    replace:{{value.replace_options | dump | safe}},
    {% endif %}

    {% if value.browser===true %}
    browser:true,
    {% endif %}

    {% if value.browsersync===true and atom.doc.features.browsersync_enabled===true%}
    browsersync: {{value.browsersync_options | dump | safe}},
    {% endif %}

    {% if value.alias_enabled===true %}
    alias:{{value.alias | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.css %}
    postcss:{{value.css | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.copy %}
    copy:{{value.copy | dump | safe}},
    {% endif %}

    {# OK #}
    {% if  value.terser%}
    terser:{{value.terser | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.json %}
    json:{{value.json | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.wasm %}
    wasm: {{value.wasm | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.string %}
    string:{{value.string | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.image %}
    image:{{value.image | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.analyzer %}
    analyzer:{{value.analyzer | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.visualizer %}
    visualizer:{{value.visualizer | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.polyfill %}
    polyfill:{{value.polyfill | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.nunjucks %}
    nunjucks:{{value.nunjucks | dump | safe}},
    {% endif %}
    
    {# OK #}
    {% if value.workbox %}
    workbox:{{value.workbox | dump | safe}},
    {% endif %}

    {# OK #}
    {% if value.gzip %}
    gzip:{{value.gzip | dump | safe}},
    {% endif %}
}),