{% if atom.doc.features.app.export===true %}
    {% if atom.doc.features.app.extend===true %}
      import init from '../../../app';
      const createApp = ({ container }) => {
        return init({container});
      };
      export { createApp };
    {% else %}
      import Node from "../default";
      const createApp = ({ container }) => {
        return (props) => Node({ ...props, container });
      };
      export { createApp };
    {% endif %}
{% else %}
    {% if atom.doc.features.app.extend===true %}        
        import run from '../../../app';
        run();
    {% else %} 
        import Node from "../default";
        Node();
    {% endif %}    
{% endif %}