{# variables #}
const v=flow.get();

{# module #}
{% if hasModules %}
const m={};
{% else %}
const m = null;
{% endif %}

{# form #}
{% if type === 'form' %}
const form={};
{% else %}
const form=null;
{% endif %}

{# closure #}
const c={ caller, resolve, reject, args, get form(){return form||caller?.form}, get module(){return m||caller?.module} };

{% if workflow.parent.context.atom.doc.features.print_steps %}
console.log(new Date().toLocaleString(),'{{indexKey}}');
{% endif %}

{% if definition.debugger %}
debugger;
{% endif %}

{% if context.transform.print %}
print({{context.transform.print | safe}});
{% endif%}

{% if context.transform.assert %}
assert({{context.transform.assert | safe}});
{% endif%}

{% if context.transform.sleep %}
await sleep({{context.transform.sleep}});
{% endif %}
