{% if context.next %}

  // NEXT : {{context.next.indexKey}}
  {% if context.next.definition.dynamic %}
    const { default: {{context.next.codeKey}} } = await import("./{{context.next.codeKey}}");
  {% endif %}


return resolve ({
    type: 'block',
    from: _this,
    fromType: _this.constructor,
    fromClosure: c,
    toType:{{context.next.codeKey}},
    onError,
    {% if context.transform.output %}
    input: {{context.transform.output | safe}},
    {% endif %}
});

{% endif %}