{% include "src/default/macros/block-header.js.njk" %}

{% include "src/default/macros/block-next-header.js.njk" %}

{% include "src/default/macros/block-modules-header.js.njk" %}

export default function Block(context){

  {% include "src/default/macros/block-body-header.js.njk" %}

  this.run= function (){
      
    {% include "src/default/macros/block-entry-args.js.njk" %}

    return new Promise(async (resolve,reject)=>{
                  
      {% include "src/default/macros/block-run-header.js.njk" %}

      {% include "src/default/macros/page.js.njk" %}

      {% include "src/default/macros/block-modules.js.njk" %}

      {% if context.next and context.transform.wait==='next' %}
        flow.waitForNext({
          key:'{{indexKey}}',
          next: async () =>  {
              {% include "src/default/macros/block-next.js.njk" %}
          }
        });
      {% endif %}

      {% for assign in context.transform.assign %}
      flow.set({{assign.key | safe}},{{assign.value | safe}});
      {% endfor%}

      {% include "src/default/macros/block-signal.js.njk" %}

      {% if context.transform.return %}
        resolve({type:'return',value: {{context.transform.return | safe}}});
      {% elseif context.next and context.transform.wait!=='next'%}
        {% include "src/default/macros/block-next.js.njk" %}
      {% elseif not context.next%}
        resolve();
      {% endif %}

      {% include "src/default/macros/block-run-footer.js.njk" %}
    });
  }

  Object.freeze(this);
}

{% include "src/default/macros/block-footer.js.njk" %}