{% set waitForNext=true %}
{% set assign=true %}
{% set signal=true %}

{% import "src/default/types/block.js.njk" as block with context %}

{% call block.header() %}

  {% include "src/default/macros/block-library-header.js.njk" %}

  import React from "react";

{% endcall %}

{% call block.definition() %}

  {% if context.lib.type==='atom'%}
    const formLib=LIBRARY;
  {% elseif context.lib.type==='subworkflow' %}
    const formLib={{context.lib.codeKey}};
  {% else %}
    const formLib=undefined; 
    throw new Error('Couldnt find form.');
  {% endif %}

  {% include "src/default/macros/block-run-form.js.njk" %}

{% endcall %}

{% call block.footer()%} 
{% endcall %}