{% import "src/default/types/block.js.njk" as block with context %}

{% call block.header() %}
{% endcall %}

{% call block.definition() %}

  const raise = {{context.transform.raise | safe}};

  reject(new Error(raise?.message||raise||"Unknown error"));

{% endcall %}

{% call block.footer()%} 
{% endcall %}