{% import "src/default/types/block.js.njk" as block with context %}

{% call block.header() %}
{% endcall %}

{% call block.definition() %}

  {% include "src/default/macros/block-assign.js.njk" %}
  
  {% include "src/default/macros/block-signal.js.njk" %}

  const value = {{context.transform.return | safe}};

  flow.result={value: value};

  resolve({type:'return',value: value});

{% endcall %}

{% call block.footer()%} 
{% endcall %}