
{% import "src/default/types/block.js.njk" as block with context %}

{% call block.header() %}
  {% if not hasDefaultCondition %}
    {% include "src/default/macros/block-next-header.js.njk" %}
  {% endif %}

  {% for child in childs %}
    {% if not child.definition.dynamic %}
      // CHILD: {{child.indexKey}}
      import {{child.codeKey}} from "./{{child.codeKey}}.js";
    {% endif %}
  {% endfor%}

{% endcall %}

{% call block.definition() %}
  
  {% for child in childs %}
    {% if loop.first %}
      if ({{child.context.transform.condition | safe}}) 
    {% else %}
      {%if child.context.transform.condition %}
        else if ({{child.context.transform.condition | safe}}) 
      {% else %}
        else
      {% endif %}
    {% endif %} 
      {
        {% if child.definition.dynamic %}
          // CHILD: {{child.indexKey}}
          const { default: {{child.codeKey}} } = await import("./{{child.codeKey}}.js");
        {% endif %}

        const current=new {{child.codeKey}}({ parent:_this, engine, flow, caller:c, onError });

        {% if workflow.parent.context.atom.doc.features.print_runners %}
          console.log(new Date().toLocaleString(),' * ',_this.constructor.IndexKey,' -> ',current.constructor.IndexKey);
        {% endif %}

        try {
          return resolve(Array.isArray(args)? await current.run.apply(current,args) : await current.run.call(current,args));
        } catch (err) {
          if (onError) {
            return onError(err);
          }
          throw err;
        }
      }
  {% endfor%}

  {% include "src/default/macros/block-assign.js.njk" %}

  {% include "src/default/macros/block-signal.js.njk" %}

  {% if not hasDefaultCondition %}
    {% if context.transform.return %}
      resolve({type:'return',value: {{context.transform.return | safe}}});
    {% elseif context.next %}
      {% include "src/default/macros/block-next.js.njk" %}
    {% else %}
      resolve();
    {% endif %}
  {% endif %}

{% endcall %}

{% call block.footer()%} 
{% endcall %}