
{% include "src/default/macros/block-header.js.njk" %}

{# {% include "src/default/macros/block-next-header.js.njk" %} #}

{% include "src/default/macros/block-modules-header.js.njk" %}

{% for child in childs %}
  {% if not child.definition.dynamic %}
    // CHILD: {{child.indexKey}}
    import {{child.codeKey}} from "./{{child.codeKey}}";
  {% endif %}
{% endfor%}

export default function Block(context) {

  {% include "src/default/macros/block-body-header.js.njk" %}

  this.run= function (){
      
    {% include "src/default/macros/block-entry-args.js.njk" %}

    return new Promise(async (resolve,reject)=>{
        
        {% include "src/default/macros/block-run-header.js.njk" %}

        {% include "src/default/macros/page.js.njk" %}

        {% include "src/default/macros/block-modules.js.njk" %}
        
        try{
            
          const onError=error=>{
            {% if context.except.definition.dynamic %}
                const { default: {{context.except.codeKey}} } = await import("./{{context.except.codeKey}}");
            {% endif %}

            const current=new {{context.except.codeKey}}({ parent:_this, engine, flow, caller:c , error });

            {% if workflow.parent.context.atom.doc.features.print_runners %}
              console.log(new Date().toLocaleString(),' * ',_this.constructor.IndexKey,' -> ',current.constructor.IndexKey);
            {% endif %}

            Array.isArray(args)? current.run.apply(current,args).then(resolve):current.run.call(current,args).then(resolve);
          };

          {% if context.try.definition.dynamic %}
              const { default: {{context.try.codeKey}} } = await import("./{{context.try.codeKey}}");
          {% endif %}
          
          const current=new {{context.try.codeKey}}({ parent:_this, engine, flow, caller:c ,onError, error });

          {% if workflow.parent.context.atom.doc.features.print_runners %}
            console.log(new Date().toLocaleString(),' * ',_this.constructor.IndexKey,' -> ',current.constructor.IndexKey);
          {% endif %}

          resolve(Array.isArray(args)? await current.run.apply(current,args) : await current.run.call(current,args));
        }
        catch({{context.except.context.transform.as | safe}}){
            throw new Error('Error must not reach here!');
        }

        {% include "src/default/macros/block-assign.js.njk" %}

        {% include "src/default/macros/block-signal.js.njk" %}

        {% include "src/default/macros/block-run-footer.js.njk" %}
    });
  }

  Object.freeze(this);
}

{% include "src/default/macros/block-footer.js.njk" %}