{% import "src/default/types/block.js.njk" as block with context %}

{% call block.header() %}
{% endcall %}

{% call block.definition() %}

  {% if context.next and context.transform.wait==='next' %}
    flow.waitForNext({
      key:'{{indexKey}}',
      next: async () =>  {
        {% include "src/default/macros/block-next.js.njk" %}
      }
    });
  {% endif %}

  {% include "src/default/macros/block-assign.js.njk" %}
{% endcall %}

{% call block.footer()%} 
{% endcall %}