{% import "src/default/types/block.js.njk" as block with context %}

{% call block.header() %}
{% endcall %}

{% call block.definition() %}
  {% include "src/default/macros/block-assign.js.njk" %}
{% endcall %}

{% call block.footer()%} 
{% endcall %}