{% include "src/default/macros/block-header.js.njk" %}

{% include "src/default/macros/block-next-header.js.njk" %}

export default function Block(context){
  
  {% include "src/default/macros/block-body-header.js.njk" %}

  this.run= function (){
      
    const args=Array.from(arguments);

    return new Promise(async (resolve,reject)=>{            
      {% include "src/default/macros/block-run-header.js.njk" %}
      
      {% include "src/default/macros/page.js.njk" %}
      
      {% if context.transform.return %}
        resolve({type:'return',value: {{context.transform.return | safe}}});
      {% elseif context.next %}
        {% include "src/default/macros/block-next.js.njk" %}
      {% else %}
        resolve();
      {% endif %}
    });
  }

  Object.freeze(this);       
}

{% include "src/default/macros/block-footer.js.njk" %}