{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "fnode-build",
      "type": "shell",
      "command": "fnode build",
    },
    {
      "label": "fnode-watch",
      "type": "shell",
      "command": "fnode watch",
      "isBackground": true
    },
    {
      "label": "fnode-deploy",
      "type": "shell",
      "command": "fnode deploy",
    },
    {
      "label": "fnode-cli",
      "type": "shell",
      "command": "fnode cli",
    },
    {
      "label": "fnode-app",
      "type": "shell",
      "command": "fnode app",
    },
    {
      "label": "fnode-project-update",
      "type": "shell",
      "command": "fnode project -u",
    },
    {
      "label": "fnode-npm-update",
      "type": "shell",
      "command": "fnode npm update",
    },
    {
      "label": "fnode-npm-outdated",
      "type": "shell",
      "command": "fnode npm outdated",
    }
  ]
}