{% macro header() %}

  {% include "src/default/macros/block-header.js.njk" %}

  {% include "src/default/macros/block-next-header.js.njk" %}

  {% include "src/default/macros/block-modules-header.js.njk" %}

  {{ caller() }}

{% endmacro %}

{% macro definition() %}

  export default function Block(context){

    {% include "src/default/macros/block-body-header.js.njk" %}

    this.run= function (){
        
      {% include "src/default/macros/block-entry-args.js.njk" %}

      return new Promise((resolve,reject)=>{

        (async () => {
          try{
              {% include "src/default/macros/block-run-header.js.njk" %}

              {% include "src/default/macros/page.js.njk" %}

              {% include "src/default/macros/block-modules.js.njk" %}

              {{ caller() }}

              {% include "src/default/macros/block-run-footer.js.njk" %}
          }
          catch(error){
            reject(error);
          }
        })();
      });
    }

    Object.freeze(this);  
  }

{% endmacro %}

{% macro footer() %}
  {% include "src/default/macros/block-footer.js.njk" %}
  {{ caller() }}
{% endmacro %}

{# USAGE #}
{# 

{% import "src/default/types/block.js.njk" as block with context %}

{% call block.header() %}
{% endcall %}

{% call block.definition() %}

{% endcall %}

{% call block.footer()%} 
{% endcall %}

#}
