// BLOCK: {{indexKey}}

import Message from "../../core/message.js";

{% if context.transform.sleep %}
import sleep from "../../core/sleep.js";
{% endif %}

{% if context.transform.assert %}
import assert from "../../core/assert.js";
{% endif %}