{% if context.transform.props %}
  const formProps ={{context.transform.props | safe}} ;
{% else %}
  const formProps={};
{% endif %}

function actionClick(){
  flow.continueForNext({key:'{{indexKey}}'});
}

formProps.form=form;

formProps.actionClick=actionClick;

function Form(){
  React.useEffect(()=>{

    {% if workflow.parent.context.atom.doc.features.print_form_mounts %}
      console.log('MOUNT:','{{indexKey}}');
    {% endif %}

    return ()=>{
      {% if workflow.parent.context.atom.doc.features.print_form_mounts %}
        console.log('UNMOUNT:','{{indexKey}}');
      {% endif %}
    }
  },[]);
  
  return React.createElement(formLib,formProps);
}

engine.setActiveForm({ form: Form, props:formProps });