{% if atom.doc.features.project.format === 'esm' %}
  {% if atom.relativePath %}
    export * from "{{atom.relativePath}}";
    export { default } from "{{atom.relativePath}}";
  {% else %}
    export * from "../libs/{{atom.id or atom.doc.name}}";
    export { default } from "../libs/{{atom.id or atom.doc.name}}";
  {% endif %}
{% elif atom.doc.features.project.format === 'cjs' %}
  {% if atom.relativePath %}
    const moduleExports = require("{{atom.relativePath}}");
    module.exports = { ...moduleExports, default: moduleExports.default || moduleExports };
  {% else %}
    const moduleExports = require("../libs/{{atom.id or atom.doc.name}}");
    module.exports = { ...moduleExports, default: moduleExports.default || moduleExports };
  {% endif %}
{% endif %}
