{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "fnet-build",
      "type": "shell",
      "command": "fnet build",
    },
    {
      "label": "fnet-watch",
      "type": "shell",
      "command": "fnet watch",
      "isBackground": true
    },
    {
      "label": "fnet-deploy",
      "type": "shell",
      "command": "fnet deploy",
    },
    {
      "label": "fnet-cli",
      "type": "shell",
      "command": "fnet cli",
    },
    {
      "label": "fnet-app",
      "type": "shell",
      "command": "fnet app",
    },
    {
      "label": "fnet-project-update",
      "type": "shell",
      "command": "fnet project -u",
    },
    {
      "label": "fnet-npm-update",
      "type": "shell",
      "command": "fnet npm update",
    },
    {
      "label": "fnet-npm-outdated",
      "type": "shell",
      "command": "fnet npm outdated",
    }
  ]
}